body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-top: 0;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea,
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
}

input[type="submit"] {
  padding: 10px 15px;
  font-size: 14px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 3px;
}

li strong {
  font-weight: bold;
}

/* Tema Claro */
body.theme-light {
  background-color: #f2f2f2;
  color: #333;
}

.container.theme-light {
  background-color: #fff;
}

/* Tema Escuro */
body.theme-dark {
  background-color: #333;
  color: #f2f2f2;
}

.container.theme-dark {
  background-color: #444;
  color: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.container.theme-dark input[type="text"],
.container.theme-dark textarea,
.container.theme-dark input[type="date"],
.container.theme-dark input[type="number"] {
  background-color: #555;
}

.container.theme-dark ul li {
  background-color: #555;
  border-color: #666;
}

.container.theme-dark ul li strong {
  color: #f2f2f2;
}
